!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %title Sample Deployment
      :css
        body {
          color: #000000;          
          font-family: Arial, sans-serif;
          font-size: 15px;
        }
        
        h1 {
          font-size: 500%;
          font-weight: normal;
          margin-bottom: 0;
        }
        
        h2 {
          font-size: 200%;
          font-weight: normal;
          margin-bottom: 0;
        }
    %body
    %div{:align => "center"}
		%h1 Welcome to my learning center!
		%h2 I know nothing => Means that I am willing to learn everything!
		%h3 This code was deployed using CodePipeline, CodeDeploy, on top of a CloudFormation Template that includes 
		%h3 Autoscaling Group, CloudWatch Alarms, Multi Subnet VPC
		%h3 Client machines can receive commands for EWS console, as well as update Cloudwatch with custom metrics.
		%h3 Built on Amazon using Jenkins, with a back end depot using GitHub
		%p
		For next steps, read the
		= succeed "." do
		%a{:href => "http://docs.aws.amazon.com/codepipeline/latest/userguide/welcome.html"}